

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  padding-bottom: 20px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-top: 50px;
}

h4 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border-color: #66BFBF;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.title-text{
  margin-top: 150px;
  color:white!important;
}

.top-container {
  height: 100vh;
  background-image:url("../figure/NYcity.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 100px;
  text-align: center;
}

.middle-container {
  background-color:#F9F3EE;
  margin: 100px auto 0 auto;
  /*text-align: left;*/
}

.background{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.Question-to-investigate {
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.User-Story {
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 70%;
  margin-top: 50px;
}

.userstory_body {
  width: 70%;
  margin-top: 30px;
}

.btn{
   background-color:#66BFBF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red; /*?????????? */
  opacity: 90; /* Firefox */
  padding: 2px;
  font-style: italic;
  font-size: 1em;
  text-align: center;
}

select{
  line-height: 1;
  border: 1px solid darkgray;
  padding: 5px;
  border-radius: 1;
  width: 350px;
  height: 30px;
  position: relative;
  font-size: 1em;
  color:#40514E;
}
/* .min-max { 
  width: 200px; float: left; margin: 0 23px 0 0;
  display: block; margin: 0 0 3px; 
  font-size: 1.0em; 
  font-weight: bold; 
  border: 1px solid #D0D0D0; 
  padding: 5px;
} */
/* span { 
  display: block; margin: 0 0 3px; 
  font-size: 1.0em; 
  font-weight: bold; 
} */
/* input { 
  width: 200px; 
  border: 1px solid #D0D0D0; 
  padding: 5px;
} */
